<nav class="navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="background-color:cornflowerblue">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% url 'lab-10:index' %}" class="navbar-brand">Lab 10</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% comment %} <li><a href="{% url 'lab-9:profile' %}">Profile Session</a></li>
            <li><a href="{% url 'lab-9:cookie_profile' %}">Profile Cookie</a></li>
            {% if login_session %}
            <li><a href="{% url 'lab-9:auth_logout' %}">Logout Session</a></li>
            {% endif %}
            {% if login_cookie %}
            <li><a href="{% url 'lab-9:cookie_clear' %}">Logout Cookie</a></li>
            {% endif %} {% endcomment %}
        </ul>
      </div>
    </div>
  </nav>
  