{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1 style="color:red"> {{ movie.title}} ({{ movie.year }})</h1>
    <img src="{{ movie.poster }}" />
    <h3>Rated: {{ movie.rated }}</h3>
    <h3>Released: {{ movie.released }}</h3>
    <h3>Runtime: {{ movie.runtime }}</h3>
    <h3>Genre: {{ movie.genre }}</h3>
    <h3>Director: {{ movie.director }}</h3>
    <h3>Writer: {{ movie.writer }}</h3>
    <h3>Actors: {{ movie.actors }}</h3>
    <h3>Plot: {{ movie.plot }}</h3>
    <h3>Language: {{ movie.language }}</h3>
    <h3>Country: {{ movie.country }}</h3>
    <h3>Awards: {{ movie.awards }}</h3>
    <h3>Ratings:</h3>
    <ul>
    {% for rating in movie.ratings %}
        <li>{{ rating.Source }}: {{ rating.Value }}</li>
    {% endfor %}
    </ul>
    <h3>Metascore: {{ movie.metascore }}</h3>
    <h3>IMDB Rating: {{ movie.imbdrating }}</h3>
    <h3>IMDB Votes: {{ movie.imdbvotes }}</h3>
    <h3>IMDB ID: {{ movie.imdbid }}</h3>
    <h3>Type: {{ movie.type }}</h3>
    <h3>DVD: {{ movie.dvd }}</h3>
    <h3>Box Office: {{ movie.boxoffice }}</h3>
    <h3>Production: {{ movie.production }}</h3>
    <h3>Website: {{ movie.website }}</h3>
    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
