body {
  min-height: 2000px;
  background-color: mediumslateblue;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: yellow;
}

.img-circle {
	border-radius: 50%;
}

/*Textarea not resizeable*/
textarea {
    resize:none
}