/* Custom navbar style */
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

img {
    max-width: 100%;
    height: auto;
}

.profile {
	background-color: blue;
}

.cover {
	display: block;
    margin: auto;
    width: 40%;
}

.data {
	background-color: yellow;
	text-align: center;
}

.feed {
    border: 3px solid green;
    padding: 10px;
}