{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        var deleteFriend = function(friend_id) {
            $.ajax({
            method: "GET",
            url: "/lab-7/delete-friend/" + friend_id + "/",
            success : function (friend) {
                $('#friend-id-' + friend_id).remove()
            },
            error : function (error) {
                alert("Error In Delete Friend")
            }
        });
        }
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-list" %}',
                success: function (data) {
                    html = ""
                    data = data.data
                    for (var i = 0; i < data.length; i++) {
                        friend = JSON.parse(data[i])
                        html += '<a class="list-group-item clearfix" id="friend-id-' + friend.id + '">' + friend.friend_name + " (" + friend.npm + ") " + '<span class="pull-right"><span class="btn btn-xs btn-default" onClick="deleteFriend(' + friend.id + ')">Hapus teman</span></span></a>';
                    }
                    $("#friend-list").append(html)
                },
                error: function(error){
                    alert("Error In Get Friend List")
                }
            });
        });
    </script>
{% endblock %}
